/* Default (Dark Mode) styles */
body {
    background-color: black;
    color: #00ff00;
}

#terminal {
    border-color: #00ff00;
    background-color: black;
}

#input input {
    color: #00ff00;
}

.prompt {
    color: #00ff00;
}

.typing-text,
.subtitle {
    color: #00ff00;
}

/* Light Mode styles */
body.light-mode {
    background-color: #f4f4f4;  /* Light background */
    color: black;  /* Dark text */
}

body.light-mode #terminal {
    border-color: black;
    background-color: #f4f4f4;
}

body.light-mode #input input {
    color: black;
}

body.light-mode #output {
    color: black; 
}

body.light-mode .prompt {
    color: black;
}

body.light-mode .typing-text,
body.light-mode .subtitle {
    color: black;
}

body.light-mode .theme-toggle .slider {
    background-color: #ccc;
}

body.light-mode .theme-toggle input:checked + .slider {
    background-color: #00ff00;
}

body.light-mode .theme-toggle .slider::before {
    background-color: white;
}


/* Theme Toggle Switch */
.theme-toggle {
    position: absolute;
    top: 10px;
    right: 20px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 20px;
}

.slider::before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #00ff00;
}

input:checked + .slider::before {
    transform: translateX(20px);
}

